@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "barcade";
    src: url("../../public/fonts/barcade.ttf") format("truetype");
}
@font-face {
    font-family: "barcade";
    src: url("../../public/fonts/barcade-bold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "jonathan-hetegral";
    src: url("../../public/fonts/Jonathan\ Hetegral.otf") format("truetype");
}
@font-face {
    font-family: "nexa-light";
    src: url("../../public/fonts/Nexa-ExtraLight.ttf") format("truetype");
}
@font-face {
    font-family: "nexa-heavy";
    src: url("../../public/fonts/Nexa-Heavy.ttf") format("truetype");
}

/* Reset CSS */
/* input,
select,
textarea,
button,
div,
a {
    &:focus,
    &:active {
        outline: none;
    }
} */
